@media only screen and (min-width: 1024px) {

  /*--------------------------------------------------------------------
#### HEADER IMG VIDEO
---------------------------------------------------------------------*/
  .header-video-text {
    top: 60%;
  }

  .header-video:hover .swiper-button-prev-header,
  .header-video:hover .swiper-button-next-header {
    padding: 1.8rem;
  }

  .header-video .swiper-button-next:after,
  .header-video .swiper-button-prev:after {
    --swiper-navigation-size: 40px;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/

  .cotainer-1-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------------
#### HEADER IMG VIDEO
---------------------------------------------------------------------*/
  .header-video-text {
    gap: 2rem;
  }
}