@media only screen and (min-width: 544px) {

  /* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/
  .body-1-btns {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {

  /*--------------------------------------------------------------------
#### HEADER IMG VIDEO
---------------------------------------------------------------------*/

  .swiper-slide-header img {
    aspect-ratio: 3/1;
    max-height: 500px;
  }

  .header-video-text h1 {
    width: min(73%, 1300px);
    padding-left: 4rem;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/

  .cotainer-1-head {
    padding: 1rem;
  }

  .head-1-box {
    display: flex;
    gap: 2rem;
  }

  .container-1-body-form {
    display: flex;
    justify-content: center;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 2
--------------------------------------------------------------------
*/

  .container-2-body {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 2rem;
  }

  .container-2-body img {
    aspect-ratio: 1/1;
    object-fit: fill;
    object-position: center;
    width: 100%;
    max-height: 360px;
  }

  .tabs-list {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 3
--------------------------------------------------------------------
*/

  .content-tab-box {
    padding: 2rem;
    margin: -1rem 0 0 0;
    z-index: 1;
    border-radius: 1rem;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 4
--------------------------------------------------------------------
*/

  .container-4-head {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .container-4-head p:not(:last-child) {
    border-right: 1px solid white;
  }

  .container-4-main h3 {
    padding: 4rem 0;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 5
--------------------------------------------------------------------
*/

  .container-5-main {
    grid-template-columns: 1fr 1fr;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 6
--------------------------------------------------------------------
*/

  .container-6-main {
    grid-template-columns: 1fr 2fr;
    place-items: center;
    gap: 1rem;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 8
--------------------------------------------------------------------
*/

  .container-8-slide {
    max-width: 280px !important;
  }

  /* Figcaption */
  .card-8-desc {
    padding: 1rem 1rem 1rem 2rem;
  }


}

@media only screen and (min-width: 820px) {}

@media screen and (min-width: 994px) {}