@media only screen and (min-width: 544px) {

  /* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/
  .body-1-btns {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {

  /*--------------------------------------------------------------------
#### HEADER IMG VIDEO
---------------------------------------------------------------------*/

  .swiper-slide-header img {
    aspect-ratio: 3/1;
    max-height: 500px;
  }

  .header-video-text h1 {
    width: min(73%, 1300px);
    padding-left: 4rem;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/

  .cotainer-1-head {
    padding: 1rem;
  }

  .head-1-box {
    display: flex;
    gap: 2rem;
  }

  .container-1-body-form {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 820px) {}

@media screen and (min-width: 994px) {}