@media only screen and (min-width: 520px) {

  /* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/
  .body-1-btns {
    flex-direction: row;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 8
--------------------------------------------------------------------
*/

  .card-8-desc p:first-child {
    font-size: clamp(0.7rem, 1vw, 1.5rem);
  }

  .card-8-desc p:last-child {
    font-size: clamp(0.7rem, 1vw, 1.5rem);
  }
}

@media only screen and (min-width: 768px) {

  /*--------------------------------------------------------------------
#### HEADER IMG VIDEO
---------------------------------------------------------------------*/

  .swiper-slide-header img {
    aspect-ratio: 3/1;
    max-height: 500px;
  }

  .header-video-text {
    display: initial;
    width: min(50%, 1000px);
    /* padding-left: 4rem; */
  }

  .header-video-text p {
    font-size: clamp(0.85rem, 1.5vw, 1rem);
    padding: 0 1rem 1rem 0;
  }

  .video-text-movil {
    display: none;
  }

  /* cinta curso */
  .header-curso-cinta {
    padding: 1rem;
  }

  .curso-cinta-box {
    display: flex;
    gap: 2rem;
  }


  /* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/

  .container-1-body-form {
    display: flex;
    justify-content: center;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 3
--------------------------------------------------------------------
*/

  .tabs-list {
    flex-direction: row;
  }

  .tab-btn {
    border-bottom: transparent;
  }

  .content-tab-box {
    padding: 2rem;
    z-index: 1;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 4
--------------------------------------------------------------------
*/

  .docente-card img {
    align-self: self-start;
  }

  /* 
--------------------------------------------------------------------
### CONTAINER 5
--------------------------------------------------------------------
*/

  .container-5-body {
    position: relative;
    isolation: isolate;
  }

  .container-5-body::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background-color: white;
    height: 100%;
    width: 5.5rem;
    z-index: -1;
  }

}

@media only screen and (min-width: 820px) {}

@media screen and (min-width: 994px) {}