/* Blue effect for all images with lazy load atributte */

.pulse {
  animation: blurEffect 2.5s ease-in infinite;
}

@keyframes blurEffect {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

/* section animations */
.fade-effect {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px);
  transition: all 1s;
}

.fade-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* 
--------------------------------------------------------------------
### HEADER VIDEO 
--------------------------------------------------------------------
*/

.swiperHeader {
  width: 100% !important;
  height: 100%;
}

.swiper-slide-header {
  background-position: center;
  background-size: cover;
}

.swiper-slide-header img {
  width: 100%;
  max-height: 250px;
  aspect-ratio: 1/1;
  object-fit: fill;
  object-position: center;
}

.swiper-pagination-header .swiper-pagination-bullet {
  border-radius: 0;
  width: 15%;
  height: 4px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 0.4;
}

.swiper-pagination-header .swiper-pagination-bullet:nth-child(2n + 1) {
  background: rgb(var(--red));
}

.swiper-pagination-header .swiper-pagination-bullet:nth-child(2n + 2) {
  background: rgb(var(--main-yellow));
}

.swiper-pagination-header .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev-header,
.swiper-button-next-header {
  opacity: 0;
}

.header-video:hover .swiper-button-prev-header,
.header-video:hover .swiper-button-next-header {
  opacity: 1;
  border-radius: 50%;
  background-color: rgba(var(--grey), 0.3);
  padding: 1.3rem;
}

.header-video .swiper-button-next:after,
.header-video .swiper-button-prev:after {
  --swiper-navigation-size: 25px;
}

.header-video .swiper-button-next:after {
  padding-left: 0.35rem;
}

.header-video .swiper-button-prev:after {
  padding-right: 0.35rem;
}

.header-video {
  position: relative;
}

.header-video-text {
  position: absolute;
  inset: 50% auto auto 0;
  transform: translate(0, -50%);
  text-align: left;
  display: none;
}

.header-video-text h1,
.video-text-movil h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 500;
}

/* cinta curso */

.header-curso-cinta {
  background-color: rgba(var(--grey));
  padding: 2rem 0 0 0;
}

.curso-cinta-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.curso-cinta-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  flex-grow: 1;
}

.curso-cinta-title p:first-child {
  font-weight: 700;
}

/*--------------------------------------------------------------------
#### COMMON RULES 
---------------------------------------------------------------------*/
/* h3 */
.container-title {
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-size: clamp(1.65rem, 2.5vw, 2.67rem) !important;
  font-weight: 700 !important;
  letter-spacing: 1.28px;
  padding: 0 0 2rem 0;
}

/*--------------------------------------------------------------------
#### Aside
---------------------------------------------------------------------*/

aside {
  max-width: 330px;
  background-color: rgb(var(--grey));
}

aside .form-body-title {
  color: white;
  background-color: rgb(var(--blue));
}

aside .form-container-body {
  position: sticky;
  top: 100px;
  z-index: 1;
}

/* 
--------------------------------------------------------------------
### CONTAINER 1 
--------------------------------------------------------------------
*/

.body-1-desc {
  padding: 0 0 2rem 0;
}

.body-1-desc h3 {
  padding: 0 0 2rem 0;
}

.body-1-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0 0 0;
}

.body-1-btns a {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.87rem;
  font-weight: 700;
  letter-spacing: 0.56px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.body-1-btns a:first-child {
  color: rgb(var(--dark-blue));
  background-color: rgb(var(--main-yellow));
}

.body-1-btns a:first-child:hover {
  color: white;
}

.body-1-btns a:last-child {
  color: white;
  background-color: rgb(var(--dark-blue));
}

.body-1-btns a::before {
  content: "";
  position: absolute;
  inset: 0 0 0 -2rem;
  width: 0;
  height: 100%;
  transition: width 600ms;
  background-color: rgb(var(--red));
  transform: skew(45deg);
  z-index: -1;
}

.body-1-btns a:hover::before {
  width: 140%;
}

.body-1-btns a:hover {
  outline: 2px solid #ffffff;
  box-shadow: 4px 5px 17px -4px rgb(var(--dark-blue));
  transform: scale(1.035);
}

/* 
--------------------------------------------------------------------
### CONTAINER 2
--------------------------------------------------------------------
*/

/* 
--------------------------------------------------------------------
### CONTAINER 3
--------------------------------------------------------------------
*/

.container-3-body {
  max-width: 960px;
  margin: 0 auto;
}

/* ul */
.tabs-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* li */
.tab-btn {
  text-align: center;
  font-size: 0.85rem;
  letter-spacing: 0.64px;
  border-bottom: 3px solid rgb(var(--dark-grey));
  transition: border-bottom 600ms;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  flex: 1;
}

.tab-btn::before {
  position: absolute;
  content: "";
  width: 0;
  background-color: rgb(var(--dark-blue));
  z-index: 1;
  height: 3px;
  top: -4px;
  left: 0;
  transition: width 600ms;
}

.tab-btn.active::before {
  width: 100%;
  transition: width 800ms;
}

.tab-btn.active {
  /* border-bottom: transparent; */
  font-weight: 700;
  background-color: rgb(var(--grey));
}

/* head */
.content-tab {
  display: none;
  animation: moving 0.5s ease;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.content-tab.active {
  display: block;
}

.content-tab h4 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.64px;
  padding: 1rem 0 1rem 0;
}

/* main */

.container-3-main {
  display: flex;
  flex-direction: column;
}

/* content box */
.content-tab-box {
  background-color: rgb(var(--grey));
  padding: 1rem;
}

.alumno-desc,
.titulo-content p {
  padding: 0 0 0 1rem;
}

.alumno-desc-info ul,
.profesores ul {
  padding: 1rem 0 0 2rem;
}

.alumno-desc-info ul li,
.profesores ul li {
  font-size: clamp(0.95rem, 1vw, 1.2rem);
  font-weight: 300;
  letter-spacing: 0.56px;
  list-style: disc !important;
}

/* 
--------------------------------------------------------------------
### CONTAINER 4
--------------------------------------------------------------------
*/
.container-4-body {
  background-color: rgb(var(--grey));
  margin: 0 -2rem;
  padding: 2rem;
}

/* cards programa */
.program-4-card {
  background-color: white;
  border-bottom: 3px solid rgb(var(--blue));
}

/* cards docentes */
.docente-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.docente-card img {
  max-width: 115px;
  /* max-height: 115px; */
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.docente-info-desc p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  overflow: hidden;
}

.docente-card-info p,
.docente-card-info a {
  font-size: 0.75rem;
}

.docente-info-name {
  border-bottom: 1px solid rgb(var(--dark-yellow));
}

/* button */
.docente-info-desc a {
  background-color: rgba(var(--middle-grey));
  padding: 0.5rem 1rem;
  text-align: center;
  color: rgb(var(--dark-blue));
  font-weight: 500;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.docente-info-desc a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: 0;
  transition: width 600ms;
  height: 100%;
  background-color: rgb(var(--footer-blue));
  transform: skew(45deg);
  z-index: -1;
}

.docente-info-desc a:hover::after {
  width: 150%;
}

.docente-info-desc a:hover {
  color: white;
  outline: 2px solid #ffffff;
  box-shadow: 4px 5px 17px -4px rgb(var(--dark-blue));
}

/* 
--------------------------------------------------------------------
### CONTAINER 5
--------------------------------------------------------------------
*/



/* 
--------------------------------------------------------------------
### CONTAINER 6
--------------------------------------------------------------------
*/


/* 
--------------------------------------------------------------------
### CONTAINER 7
--------------------------------------------------------------------
*/



/* 
--------------------------------------------------------------------
### CONTAINER 8
--------------------------------------------------------------------
*/



/* 
--------------------------------------------------------------------
### CONTAINER 9
--------------------------------------------------------------------
*/



/* 
--------------------------------------------------------------------
### CONTAINER 10
--------------------------------------------------------------------
*/



/* --************************************************************--- */
/*--------------------------------------------------------------------
### MEDIA QUERIES
---------------------------------------------------------------------*/

@media screen and (min-width: 360px) {}

@media screen and (min-width: 375px) {

  /* 
--------------------------------------------------------------------
### CONTAINER 4
--------------------------------------------------------------------
*/
  /* cards docentes */
  .docente-card {
    flex-direction: row;
  }

  .docente-card img {
    align-self: auto;
  }
}

@media screen and (min-width: 425px) {}

/* Habilitar opcion de quitar animation de fade */
@media (prefers-reduced-motion) {
  .fade-effect {
    transition: none;
  }
}